.main {
    align-items:center;
    justify-content: center;
}

.trial-balance-table{
   margin-left:auto;
   margin-right:auto;
}

.dividers {
    border-bottom: 1px solid #ddd;
    height: 35px;
}

.name {
    text-align:left;
    width: 300px;
}

.debits {
    width:300px;
}