
.account-title{
    width: fit-content;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.account-title:hover{
    cursor: pointer;
    color:  #5d53df;
    text-decoration: underline;
}

.functions {
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    padding-bottom: 10px;
}
.file {
    cursor:pointer;
    color:#383838
}

