.main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align:left;
    color:#686868;
}

.my-group {
    justify-content:left;
    text-align:left;
    max-width: 400px;
}

.new-statement {
    max-width: 130px;
    color: #a5aaaf;
    text-decoration-line:underline;
    cursor:pointer;
}
.warning {
    background-color: lightYellow;
}
.danger {
    background-color: rgb(255, 224, 224);
}
.normal {
    background-color: rgb(224, 255, 226);
}
.statement {
    color:#675CFF;
}
.statement:hover {
    color:#675CFF;
    text-decoration-line:underline;
    cursor:pointer;
}


.new-statement:hover {
    max-width: 130px;
    color: #686868;
    text-decoration-line:underline;
    cursor:pointer;
}
