.main {
    align-items:center;
    justify-content: center;
}

.tools {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 5px;
}

.title {
    text-align: left;
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.trial-balance-document{
    width:fit-content;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5%;
    margin-left:auto;
    margin-right:auto;
    border: solid #dddddd;
    border-width: 1px 1px 1px 1px;
 }

.trial-balance-table{
   margin-left:auto;
   margin-right:auto;
}

.dividers {
    border-bottom: 1px solid #ddd;
    height: 35px;
}

.name {
    text-align:left;
    width: 300px;
}

.debits {
    width:300px;
}