.container-Fluid {
    background-color: #4783b8;
}

.header {
    margin-bottom: 30px;
    height: 12vh;
    background-color: #5cb9ff;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.header-page-name {
    color: white;
    text-align: center;

}

.col-sm {
    display: flex;
    align-items: center;
}


.logo {
    width: fit-content;
    height: 45px;
    cursor: pointer;
}

.userImage {
    max-width: 20%;
    max-height: 20%;

}
.username {
    padding-left: 10px;
    font-size:x-large;
    color: white;
}
.btn {
    margin-left: 10px;
}
