.container-Fluid {
    background-color: #4783b8;
}

.navbar {
    background-color:#5cb9ff;
}
.header {
    margin-bottom: 30px;
    height: 9vh;
    background-color: #5cb9ff;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.header-page-name {
    color: white;
    text-align: center;

}

.col-sm {
    padding-left: 50px; 
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    color: white;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.col-3 {
    display: flex;
    flex-direction: row;
}

.chart-of-accounts {
    align-items: right;
    cursor: pointer;
}


.logo {
    width: fit-content;
    height: 45px;
    cursor: pointer;

}

.userImage {
    width: fit-content;
    max-height: 45px;
    cursor: pointer;
}
.username {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size:x-large;
    color: white; 
}
.btn {
    margin-left: 10px;
}

.active{
    color:#675CFF;
    border: solid #675CFF;
    border-width: 0px 0px 2px 0px;
}

.active:hover{
    color: #5d53df;
}

.inactive:hover{
color:rgb(228, 228, 228);
cursor: pointer;
}

.calendar{
    height: 45px;
    width: 45px;
}

.calendar-button{
    margin-left: 3px;
    margin: 3px;
    display: flex;
    margin-left: 20px;
    border: 0px;
    background-color: white;
}

.calendar-popup{
    margin-left: 45px;
}
