.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}


.popup-inner {
    position: relative;
    padding: 32px;
    
    border-radius: 15px;

    width: 30%;
    min-width: 300px;
    height: 20%;
    min-height: 100px;


    background-color: rgb(256, 256, 256);

    z-index: 100;
}

.red-text{
    color: red;
}

.no-resize{
    resize: none;
}

.long {
    width: 300px;
}